/Doctor/__pycache__
/login/__pycache__
/login/migrations/__pycache__
/pacientes/__pycache__
/pacientes/migrations/__pycache__
/crudCitas/__pycache__
/crudCitas/migrations/__pycache__
/core/__pycache__
/core/migrations/__pycache__
db.sqlite3
