{% extends 'base.html' %}
{% block content %}

<head>
  <title>Usuarios</title>
</head>

<div class="container" style="max-width: 90%; margin-top: 20px;">
  <div class="row">
    <div class="col-md-6">
      <h1 class="table-title"><i class="fa-solid fa-users"></i> Usuarios</h1>
    </div>
    <div class="col-md-6 text-right">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" id="search-input" class="form-control search-input" placeholder="Buscar..."
          aria-label="Buscar" aria-describedby="basic-addon2">
        <button id="btnAgregarUsuario" type="button" class="btn btn-success btn-open-form tooltip-trigger"
          data-form-type="registro" data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip" data-bs-title="Agregar Usuario" data-bs-target="#modalBase">
          <i class="fa-solid fa-user-plus"></i> Agregar Usuario
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div id="loader"></div>
    <table id="table-user" class="table table-striped table-bordered shadow-lg" style="visibility: hidden;">
      <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>Nombre Completo</th>
          <th>Email</th>
          <th>Fecha de Registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in usuarios %}
        <tr>
          <td>
            {{ user.id }}
          </td>
          <td>
            {{ user.username }}
          </td>
          <td>
            {{ user.first_name|add:" " |add:user.last_name|add:" " |add:user.last_name2 }}
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.date_joined|date:'d/m/Y h:i' }}</td>
          <td>
            <div class="center-content">
              <button id="btnEditarUsuario" type="button"
                class="btn btn-primary btn-open-form tooltip-trigger round-button me-1 ms-1" data-form-type="editar"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                data-bs-title="Editar Usuario" data-user-id="{{ user.id }}" data-bs-target="#modalBase">
                <i class="fa-solid fa-user-pen"></i>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'modal_base.html' %}
{% endblock %}